.Books {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 1%;
}

.booksList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.favorites {
  margin: 5px 0 5px;
}

.link-favorites {
  max-width: 105px;
}